/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/contrib/start
/depcomp
/install-sh
/intl/
/m4/
Makefile
Makefile.in
/missing
*.o
/po/boldquot.sed
/po/de.gmo
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/quot.sed
/po/rdecay.pot
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/stamp-po
/src/.deps/
/src/rdecay
/stamp-h1
